/*© 2023 LeeKiJoon all rights reserved*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&family=Quicksand:wght@600&display=swap');
@import url('https://fonts.cdnfonts.com/css/aileron');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@font-face
{
    font-family: 'RecipeKoreaFont';
    src: url('../../assets/fonts/RecipeKoreaFont.ttf') format('truetype');
}

body 
{
    margin: 0;
    height: 100%;
    background-color: white;
}


.MainApp 
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    user-select: none;
}

.TitleBar 
{
    display: flex;
    flex-direction: row;
    -webkit-app-region: drag;
}

.WindowTitle 
{
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
    flex-direction: row;
    align-items: center;
    letter-spacing: 3px;
    font-family: Tilt Neon;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-size: 20px;
    color: black;
    user-select: none;
}

.WindowTitleImage
{
    margin-left: 10px;
    margin-top: 10px;
    height: 25px;
    width: 25px;
}

.TitleBarButtons 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    padding-right: 5px;
    -webkit-app-region: no-drag;
    user-select: none;
}


.TitleBarMaximizeButton 
{
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;
    border: none;
    background-image: url('../../assets/buttons/titlebar/maximizeButton.svg');
}

.TitleBarRestoreButton 
{
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    background-image: url('../../assets/buttons/titlebar/restoreButton.svg');
}

.TitleBarMinimizeButton 
{
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    background-image: url('../../assets/buttons/titlebar/minimizeButton.svg');
}

.TitleBarCloseButton 
{
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;
    border: none;
    background-image: url('../../assets/buttons/titlebar/closeButton.svg');
}

.TitleBarRestoreButton:hover,
.TitleBarMaximizeButton:hover,
.TitleBarMinimizeButton:hover {
    background-color: grey;
}

.TitleBarCloseButton:hover 
{
    background-color: red;
}



.ContentArea 
{
    display: flex;
    height: 100%;
}

.SideContent 
{
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MainContent 
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.ContentMenuList 
{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.ContentMenuList button
{
    width: 120px;
}

/*Default Menu Button */
.DefaultMenuButton {
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
}

.DefaultMenuButton p
{
    margin: 0px 10px 0px 5px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-family: Manrope;
    font-weight: bold;
    font-size: 15px;
    color: gray;
}

.DefaultMenuButton:hover{
    color: black;
}

.DefaultMenuButton img
{
    margin: 0px 0px 0px 0px;
    height: 25px;
    width: 25px;
}

/*Activated Menu Button*/
.ActivatedMenuButton {
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    align-items: center;
}

.ActivatedMenuButton img
{
    margin: 0px 0px 0px 0px;
    height: 25px;
    width: 25px;
}

.ActivatedMenuButton p
{
    margin: 0px 10px 0px 5px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-family: Manrope;
    font-weight: bold;
    font-size: 15px;
    color: gray;
}

.AdditionalMenuButtonContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.AdditionalMenuButton
{
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
    margin-top: auto;
    width: 100px;
}

.AdditionalMenuButton p
{
    margin: 0px 10px 0px 5px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-family: Manrope;
    font-weight: bold;
    font-size: 15px;
    color: #424242;
}

.AdditionalMenuButton img
{
    margin: 0px 0px 0px 0px;
    height: 25px;
    width: 25px;
}

/*Button Title*/
.ButtonTitle
{
    margin: 0px 0px 0px 10%;
    font-family: Manrope;
    font-weight: bold;
    font-size: 13px;
    color: gray;
    border: none;
    background-color: transparent;
    
}

.ContentMenuSvg {
    height: 25px;
    padding-right: 5px;
    padding-bottom: 3px;
}



.test {
    fill: rgb(255, 255, 255);
}

.CopyrightLogo {
    display: flex;
    margin-left: 5px;
    align-items: center;
    font-family: Nunito;
    font-weight: lighter;
    font-size: 12.5px;
    color: grey;
    user-select: none;
}




@media screen and (max-width: 576px) {
	.SettingWrapper {
		flex-direction: column;
	}
	.SettingIndicator {
		border-right: none;
	}
}