/*© 2023 LeeKiJoon all rights reserved*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&family=Quicksand:wght@600&display=swap');
@import url('https://fonts.cdnfonts.com/css/aileron');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face
{
    font-family: 'RecipeKoreaFont';
    src: url('../../assets/fonts/RecipeKoreaFont.ttf') format('truetype');
}

:root 
{
    --background-color: #ffffff;
    --button-color: #000000;
    --button-selected-color: rgb(245,245,245);
    --title-color: #424242;
    --button-title-color: #555555;
    --button-setting-color: #424242;
}

.dark-mode 
{
    --background-color: #181d27;
    --button-color: #ffffff;
    --button-selected-color: #252b37;
    --title-color: #ffffff;
    --button-title-color: gray;
    --button-setting-color: #7c7474;
}

.dark-mode img 
{
    filter: invert(1);
}

.dark-mode .TitleBarMaximizeButton,
.dark-mode .TitleBarRestoreButton,
.dark-mode .TitleBarMinimizeButton,
.dark-mode .TitleBarCloseButton {
    filter: invert(1);
}

body 
{
    margin: 0;
    height: 100%;
    background-color: var(--background-color);
    transition: background 0.2s linear;
}


.MainApp 
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    user-select: none;
}

.TitleBar 
{
    display: flex;
    flex-direction: row;
    -webkit-app-region: drag;
}

.WindowTitle 
{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    flex-direction: row;
    align-items: center;
    letter-spacing: 1px;
    font-family: Inter;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    font-size: 20px;
    color: var(--title-color);
    user-select: none;
    transition: color 0.2s linear;
}

.WindowTitleImage
{
    margin-left: 10px;
    margin-top: 10px;
    height: 25px;
    width: 25px;
}

.TitleBarButtons 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    padding-right: 5px;
    -webkit-app-region: no-drag;
    user-select: none;
}


.TitleBarMaximizeButton 
{
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;
    border: none;
    background-image: url('../../assets/buttons/titlebar/maximizeButton.svg');
}

.TitleBarRestoreButton 
{
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    background-image: url('../../assets/buttons/titlebar/restoreButton.svg');
}

.TitleBarMinimizeButton 
{
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    background-image: url('../../assets/buttons/titlebar/minimizeButton.svg');
}

.TitleBarCloseButton 
{
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;
    border: none;
    background-image: url('../../assets/buttons/titlebar/closeButton.svg');
}

.TitleBarRestoreButton:hover,
.TitleBarMaximizeButton:hover,
.TitleBarMinimizeButton:hover,
.TitleBarCloseButton:hover {
    background-color: grey;
}



.ContentArea 
{
    display: flex;
    height: 100%;
}

.SideContent 
{
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MainContent 
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.ContentMenuList 
{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.ContentMenuList button
{
    width: 140px;
}

/*Default Menu Button */
.DefaultMenuButton {
    padding: 0px 5px 0px 5px;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
}

.DefaultMenuButton p
{
    margin: 0px 10px 0px 5px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-family: Manrope;
    font-weight: bold;
    font-size: 15px;
    color: var(--button-color);
    transition: color 0.2s linear;
}

.DefaultMenuButton:hover{
    color: black;
}

.DefaultMenuButton img
{
    margin: 0px 0px 0px 0px;
    height: 25px;
    width: 25px;
    transition: filter 0.2s linear;
}

/*Activated Menu Button*/
.ActivatedMenuButton {
    padding: 0px 5px 0px 5px;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    background-color: var(--button-selected-color);
}

.ActivatedMenuButton img
{
    margin: 0px 0px 0px 0px;
    height: 25px;
    width: 25px;
    transition: filter 0.2s linear;
}

.ActivatedMenuButton p
{
    margin: 0px 10px 0px 5px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-family: Manrope;
    font-weight: bold;
    font-size: 15px;
    color: var(--button-color);
    transition: color 0.2s linear;
}

.AdditionalMenuButtonContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.AdditionalMenuButton
{
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
    margin-top: auto;
    width: 100px;
}

.AdditionalMenuButton p
{
    margin: 0px 10px 0px 5px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-family: Manrope;
    font-weight: bold;
    font-size: 15px;
    color: var(--button-setting-color);
    transition: color 0.2s linear;
}

.AdditionalMenuButton img
{
    margin: 0px 0px 0px 0px;
    height: 25px;
    width: 25px;
    transition: filter 0.2s linear;
}

/*Button Title*/
.ButtonTitle
{
    margin: 0px 0px 0px 10%;
    font-family: Manrope;
    font-weight: bold;
    font-size: 13px;
    color: var(--button-title-color);
    border: none;
    background-color: transparent;
    
}

.ContentMenuSvg {
    height: 25px;
    padding-right: 5px;
    padding-bottom: 3px;
}



.test {
    fill: rgb(255, 255, 255);
}

.CopyrightLogo {
    display: flex;
    margin-left: 5px;
    align-items: center;
    font-family: Nunito;
    font-weight: lighter;
    font-size: 12.5px;
    color: grey;
    user-select: none;
}
  
.themeToggleButton
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.knob,
.btn-bg 
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
  
.btn 
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}
  
.btn.btn-pill,
.btn.btn-pill > .btn-bg 
{
    border-radius: 100px;
}
  
.btn.btn-rect 
{
    border-radius: 2px;
}
  
.checkbox 
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
  
.knob 
{
    z-index: 2;
}
  
.btn-bg
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}
  
  /* Theme Button */
#themeButton .knob:before 
{
    content: "Light";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #03a9f4;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
  
#themeButton .checkbox:checked + .knob:before 
{
    content: "Dark";
    left: 42px;
    background-color: #424242;
}
  
#themeButton .checkbox:checked ~ .btn-bg 
{
    background-color: #fcebeb;
}
  
#themeButton .knob,
#themeButton .knob:before,
#themeButton .btn-bg 
{
    transition: 0.3s ease all;
}


@media screen and (max-width: 576px) {
	.SettingWrapper {
		flex-direction: column;
	}
	.SettingIndicator {
		border-right: none;
	}
}